#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

#blog {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  line-height:30px;
}

#background {
  background-color: blanchedalmond;
}

#vert-image {
  width: 225px;
  height: 300px;
  border:5px solid black;
  line-height:50px;
}

#selfie {
  width: 200px;
  height: 300px;
  border:5px solid black;
  line-height:50px;
}

#hidden {
  display: none;
}
